[submodule "public"]
	path = public
	url = git@github.com:lsuhadolnik/lsuhadolnik.github.io.git
	branch = master
[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/lsuhadolnik/hugo-paper.git
